/* second nav */

.navbar2 {
  transition: 0.3s;
}

.second-head {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

/* @media (min-width: 1280px) {
  .second-head {
    display: none;
  }
} */

@media (min-width: 0px) and (max-width: 1280px) {
  .second-navbar {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 412px) {
  .second-head {
    width: 100%;
    column-gap: 50px;
  }
}

@media (min-width: 0px) and (max-width: 1280px) {
  .second-navbar {
    margin-top: auto;
  }
}

.second-head img {
  max-height: 40px;
  width: auto;
  border: 0;
  vertical-align: middle;
  margin: 25px 0px 0px 110px;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .second-head img {
    margin: 20px 0 0 0;
    height: auto;
  }
}
.second-head .bar-icon {
  font-size: 25px;
  padding: 30px;
}
@media (min-width: 0px) and (max-width: 412px) {
  .second-head .bar-icon {
    padding: 0;
  }
}
.second-nav {
  border-top: 3px solid #e32222;
  background-color: #313437;
  padding-bottom: 10px;
}
.second-nav ul {
  list-style: none;
  margin-top: 10px;
}
.second-nav ul li a {
  text-decoration: none;
  color: #fff;
}
.second-nav hr {
  border: 1px solid #fff;
}
.second-nav .services {
  display: flex;
  justify-content: space-between;
}
.second-nav .services i {
  color: #fff;
}

.second-nav-icon-search i {
  color: #1a1a1a;
}

#box {
  display: none;
}
#menucontent {
  display: none;
}
@media (min-width: 0px) and (max-width: 280px) {
  .second-nav-icon-search {
    margin: 0 90px 0 0;
  }
}
.second-nav-icon {
  text-align: end;
}
.toggleicon {
  margin-right: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #1a1a1a;
  font-size: 20px;
  padding: 20px;
}
#content {
  display: none;
  display: fixed;

  color: #fff;
  margin-left: -1350px;
}
@media (min-width: 0px) and (max-width: 1280px) {
  #content {
    margin-left: auto;
  }
}
